
lesson01.mp4
.DS_Store
.gitattributes
lesson02.mp4
lesson_1/.DS_Store
lesson_1/.ipynb_checkpoints/Lesson01-checkpoint.ipynb
lesson_1/.ipynb_checkpoints/Lesson_1-checkpoint.ipynb
lesson_1/.ipynb_checkpoints/Lesson_1_script-checkpoint.ipynb
lesson_1/Lesson_1.ipynb
lesson_1/Lesson_1_script.ipynb
lesson_2/.ipynb_checkpoints/Lesson_2-checkpoint.ipynb
lesson_2/.ipynb_checkpoints/Lesson_2_script-checkpoint.ipynb
lesson_2/data/.DS_Store
lesson_2/data/L2_normalization.png
lesson_2/data/LX_Grad1.png
lesson_2/data/LX_Grad2.png
lesson_2/data/LX_Grad4_1.png
lesson_2/data/LX_Grad4_2.png
lesson_2/data/LX_L1.png
lesson_2/Lesson_2.ipynb
lesson_2/Lesson_2_script.ipynb
lesson_4/Lesson_4_script.ipynb
lesson_4/Lesson_4.ipynb
lesson_4/data/L4_Q5.png
lesson_4/data/L4_Q4.png
lesson_4/data/L4_Q3.png
lesson_4/data/L4_Q2.png
lesson_4/data/L4_graphviz.png
lesson_3/Lesson_3_script.ipynb
lesson_3/Lesson_3.ipynb
lesson_3/lesson03.ipynb
lesson_3/data/L3_logit_example.jpg
lesson_3/.ipynb_checkpoints/Lesson_3_script-checkpoint.ipynb
lesson_3/.ipynb_checkpoints/Lesson_3-checkpoint.ipynb
lesson_3/.ipynb_checkpoints/lesson03-checkpoint.ipynb
lesson04.mp4
lesson03.mp4
homeworks/.ipynb_checkpoints/Lesson03-checkpoint.ipynb
homeworks/.ipynb
homeworks/.ipynb_checkpoints/.ipynb-checkpoint
lesson05.mp4
lesson06.mp4
lesson_4/.ipynb_checkpoints/lesson04-checkpoint.ipynb
lesson_4/.ipynb_checkpoints/Lesson_4-checkpoint.ipynb
lesson_4/.ipynb_checkpoints/Lesson_4_script-checkpoint.ipynb
lesson_4/.ipynb_checkpoints/Lesson_4_script-Copy1-checkpoint.ipynb
lesson_4/lesson04.ipynb
lesson_4/Lesson_4_script-Copy1.ipynb
lesson_5/data/L5_Bagging.png
lesson_5/data/L5_Bias_Variance.png
lesson_5/data/L5_Bootstrap.png
lesson_5/data/L5_Q1.png
lesson_5/data/L5_Q2.png
lesson_5/data/L5_Q3.png
lesson_5/data/L5_Q4.png
lesson_5/data/L5_Q5.png
lesson_5/data/L5_Q6_1.png
lesson_5/data/L5_Q6_2.png
lesson_5/data/L5_Q7.png
lesson_5/data/L5_Q8.png
lesson_5/data/L5_Random_Forest.png
lesson_5/data/L5_Random_Subspaces.png
lesson_5/data/L5_Voting.png
lesson_5/Lesson_5.ipynb
lesson_6/data/L6_blending.png
lesson_6/data/L6_blending_info.png
lesson_6/data/L6_boostings.png
lesson_6/data/L6_GM_Class.png
lesson_6/data/L6_GM_Plots.png
lesson_6/data/L6_GM_Reg.png
lesson_6/data/L6_Learning_Curves.png
lesson_6/data/L6_Q5.png
lesson_6/data/L6_Q7.png
lesson_6/data/L6_stacking.png
lesson_6/data/L6_stacking_info.png
lesson_6/Lesson_6.ipynb
lesson07.mp4
lesson_6/.ipynb_checkpoints/lesson06-checkpoint.ipynb
lesson_6/.ipynb_checkpoints/Lesson_6-checkpoint.ipynb
lesson_6/.ipynb_checkpoints/Untitled-checkpoint.ipynb
lesson_6/Untitled.ipynb
lesson_7/L7_Q2_CM.png
lesson_7/L7_Q2_KM++.png
lesson_7/L7_Q3.png
lesson_7/Lesson_7.ipynb
lesson08.mp4
lesson_7/.ipynb_checkpoints/lesson07-checkpoint.ipynb
lesson_7/.ipynb_checkpoints/Lesson_7-checkpoint.ipynb
lesson_8/.ipynb_checkpoints/Lesson_8-checkpoint.ipynb
lesson_8/Lesson_8.ipynb
